<!--201935241 김지원-->
<div class="container">   

	<% if (code_tbl) { %>
	 <h2>코드 수정</h2>
	<form action="/code/update_process" method="post" >

				<input type="hidden" name="main" value="<%= code_tbl[0].main_id %>">
			 <div class="mb-3">
					
					 <input class="form-control"  type="hidden" name="main_id" placeholder="0000" value="<%= code_tbl[0].main_id %>" style = "width:300px;" />
		 </div> 

		 <input type="hidden" name="sub" value="<%= code_tbl[0].sub_id %>">
			 <div class="mb-3">
					 <label class="form-label" for="id">대분류명</label> 
					 <input class="form-control" type="text" name="main_name" value="<%= code_tbl[0].main_name %>" style = "width:300px;" />
		 </div>
				<div class="mb-3">
				
				<input class="form-control" type="hidden" name="sub_id" value="<%= code_tbl[0].sub_id %>" style="width:300px;" />
		 </div> 
			 <div class="mb-3">
				<label class="form-label" for="id">소분류명</label> 
				<input class="form-control" type="text" name="sub_name" value="<%= code_tbl[0].sub_name %>" style="width:300px;"  />
		 </div>
			 <div class="mb-3">
				<label class="form-label" for="id">시작일</label> 
				<input class="form-control" type="text" name="start" id = "start" value="<%= code_tbl[0].start %>" style="width:300px;"  />
		 </div>
			 <div class="mb-3">
				<label class="form-label" for="id">종료일</label> 
				<input class="form-control" type="text" name="end" id = "end" value="<%= code_tbl[0].end %>" style="width:300px;" />
		 </div>
			 <button class="btn btn-outline-primary btn-sm" type="submit">입력</button>
 </form>

 <% } else { %>

<h2>코드 입력</h2>
 <form action="/code/create_process" method="post" >
	<div class="mb-3">
		 <label class="form-label" for="id">대분류</label> 
		 <input class="form-control" type="text" name="main_id" style = "width:300px;" />
	</div>
	<div class="mb-3">
		 <label class="form-label" for="id">대분류명</label> 
		 <input class="form-control" type="text" name="main_name" style = "width:300px;" />
	</div>
	<div class="mb-3">
		 <label class="form-label" for="id">소분류</label> 
		 <input class="form-control" type="text" name="sub_id" style="width:300px;" />
	</div>
	<div class="mb-3">
		 <label class="form-label" for="id">소분류명</label> 
		 <input class="form-control" type="text" name="sub_name" style="width:300px;" />
	</div>
	<div class="mb-3">
		 <label class="form-label" for="id">시작일</label> 
		 <input class="form-control" type="text" name="start" id="start" style="width:300px;" />
	</div>
	<div class="mb-3">
		 <label class="form-label" for="id">종료일</label> 
		 <input class="form-control" type="text" name="end" id="end" style="width:300px;" />
	</div>
	<button class="btn btn-outline-primary btn-sm" type="submit">입력</button>
</form>
<% } %>
</div>
