<!--201935241 김지원-->
<div class="container">   
  <% if (purchase) { %>
  <h2>구매정보 수정</h2>
  <form action="/purchase/update_process" method="post">
      <input type="hidden" name="id" value="<%= purchase.purchase_id %>">
      <div class="mb-3">
          <label class="form-label">상품 ID</label>
          <input class="form-control" type="text" name="mer_id" value="<%= purchase.mer_id %>">
      </div>
      <div class="mb-3">
          <label class="form-label">수량</label>
          <input class="form-control" type="text" name="qty" value="<%= purchase.qty %>">
      </div>
      <div class="mb-3">
          <label class="form-label">가격</label>
          <input class="form-control" type="text" name="price" value="<%= purchase.price %>">
      </div>
      <div class="mb-3">
          <label class="form-label">결제 상태</label>
          <input class="form-control" type="text" name="payYN" value="<%= purchase.payYN %>">
      </div>
      <div class="mb-3">
          <label class="form-label">취소 상태</label>
          <input class="form-control" type="text" name="cancel" value="<%= purchase.cancel %>">
      </div>
      <div class="mb-3">
          <label class="form-label">환불 상태</label>
          <input class="form-control" type="text" name="refund" value="<%= purchase.refund %>">
      </div>
      <button class="btn btn-outline-primary btn-sm" type="submit">수정하기</button>
  </form>
  <% } else { %>
  <h2>구매정보 입력</h2>
  <form action="/purchase/create_process" method="post">
      <div class="mb-3">
          <label class="form-label">상품 ID</label>
          <input class="form-control" type="text" name="mer_id">
      </div>
      <div class="mb-3">
          <label class="form-label">수량</label>
          <input class="form-control" type="text" name="qty">
      </div>
      <div class="mb-3">
          <label class="form-label">가격</label>
          <input class="form-control" type="text" name="price">
      </div>
      <div class="mb-3">
          <label class="form-label">결제 상태</label>
          <input class="form-control" type="text" name="payYN">
      </div>
      <div class="mb-3">
          <label class="form-label">취소 상태</label>
          <input class="form-control" type="text" name="cancel">
      </div>
      <div class="mb-3">
          <label class="form-label">환불 상태</label>
          <input class="form-control" type="text" name="refund">
      </div>
      <button class="btn btn-outline-primary btn-sm" type="submit">입력하기</button>
  </form>
  <% } %>
</div>